{% extends 'base.html' %}

{% block content %}

    <h1>LOGIN</h1>
    <p>Don't have a username? <a href='/signup'>Create Account</a>!</p>
    
    <br><span class='error'>{{error}}</span>


    <form action='/login' method='POST'>
        <label>Username:
            <input type='text' name='username' value='{{username}}' />
        </label>
        <br><label>Password:
            <input type='password' name='password' value='{{password}}' />
        </label>
        <br><input type='submit' name='login' >
    </form>

{% endblock %}